<br>
   Download Our House Construction Expenses Calculator Below:
<br><br>
<form action="https://pkarun.com/e/subscribe" method="POST" accept-charset="utf-8" style="max-width: 300px; margin: 0 auto;">

    <input type="email" name="email" id="email" placeholder="Enter your email here" style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;" required /><br/>
	<div style="display:none;">
	<label for="hp">HP</label><br/>
	<input type="text" name="hp" id="hp"/>
	</div> 
    <input type="hidden" name="list" value="lcK7bN1C7Oru8Ujc892qetww"/>
    <input type="hidden" name="subform" value="yes"/>
    
    <input type="submit" name="submit" id="submit" value="Send Me" style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"/>
</form>
<br>
